body {
    background-color: #1d2088;
}
.centered-text {
    text-align: center;
    line-height: 100px;
    height: 200px;
}
.slogan {
    float: left;
    width: 50%;
}
.social {
    margin-top: 80px;
}
.social a {
    margin-right: 300px;
}
.bottom-right{
    position: absolute;
    bottom: 300px;
}

